<div ng-show="isLoading" class="loading">Loading game...</div>
<div ng-hide="gameExists">    
    <div class="alert alert-danger">
        <h3>That game doesn't exist or has been removed.</h3>
    </div>
</div>

<div ng-hide="isLoading || !gameExists">
    
    <div class="col-md-9">
        <div class="alert alert-info">
    
            <table style='vertical-align: central; width: 100%;'>
                <tr>
                    <td><h1>{{game.name || board.name+'/'+list.name}}</h1></td>
                    <td style='text-align: right;'>Board/List: {{board.name}}/{{list.name}}<br/>
                        Started: {{game.created}}<br/>
                        Creator: {{game.creator}}</td>
                </tr>
            </table>
        </div>
    
        <p>
            <table class="cards">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Current</th>
                        <th>Avg</th>
                        <th>Min</th>
                        <th>Max</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in cards">
                        <td>{{c.number}}</td>
                        <td><a ng-click="viewCard(c.id)">{{c.name}}</a></td>
                        <td><span class="badge">{{c.points}}</span></td>
                        <td><span class="badge">{{c.aggregateSize.average}}</span></td>
                        <td><span class="badge">{{c.aggregateSize.minimum}}</span></td>
                        <td><span class="badge">{{c.aggregateSize.maximum}}</span></td>
                        <td><span class="badge">{{c.aggregateSize.count}}</span></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>        
        </p>

        <br/>
    
        <div class="alert alert-success" ng-show="successfullyAppliedPointsToCards">        
            <span class="glyphicon glyphicon-heart"></span>&nbsp;<strong>You rock!</strong> Your points were successfully applied to your cards in Trello. You are intellegent, amazing, and irresistible to the opposite sex!        
        </div>

        <p class="pull-right" ng-show="isCreator">
            <button class="btn btn-danger" ng-click="deleteGame()">Delete Game</button>
        </p>

        <p ng-hide="almostApplying" ng-show="isCreator">
            <button class="btn btn-primary" ng-click="startApplyProcess()">Apply To Trello</button>
        </p>

        <p ng-show="almostApplying" class="input-group-lg">
            <select ng-model="applyFrom" ng-options="o.name for o in applyOptions"></select>
            <button ng-disabled="isApplying || !applyFrom" class="btn btn-primary" ng-click="applyPointsToCardsInTrello(applyFrom)">Apply</button>    
        </p>
    </div>
    
    <div class="col-md-3">        
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-bullhorn"></span> <strong>Share this game!</strong> Just copy the url below and send to team members in email or chat:
            <textarea onclick="this.focus();this.select()" readonly="readonly" style="width: 100%;">{{gameUrl}}</textarea>
        </div>
        
        <div class="alert alert-info">
            <span class="glyphicon glyphicon-thumbs-up"></span> <strong>How to run a game of planning poker:</strong>
            <ol>
                <li>Share this game with your teammates using the link above.</li>
                <li>Schedule a time when everyone can be on the game page AND a conference call (like Skype or Google Hangout) at the same time.</li>
                <li>Have all team members open a card.</li>
                <li>Discuss the requirements.</li>
                <li>When ready, have everyone choose a point size and return to the game page.</li>
                <li>Rinse and repeat until the team has sized all cards.</li>
                <li>When done, the game creator can click "Apply to Trello" to finally send all the points to their respective Trello cards.</li>
            </ol>
        </div>
        
    </div>
</div>