<div class="alert alert-info">
    <h2>Get help with Trello Planning Poker</h2>
</div>

<h3>Live Chat</h3>
<p>Hours: 9:00 am to 5:00 pm (CST), Monday-Friday</p>
<form action="https://www.hipchat.com/gOccx9sbW" method="post" name="guestForm" target="_blank">
    <input type="hidden" name="timezone" value=""  />
    <input type="hidden" id="name" name="name" value="{{fullName}}" />
    <table cellspacing="0" class="form">
        <tr>
            <td style="padding-bottom: 0;">&nbsp;</td>
            <td style="padding-bottom: 0;">
                <input type="submit" id="signin" class="btn btn-lg btn-primary" name="signin" value="Join Live Chat"  />          
                <p class="info" style="margin: 10px 0">
                    By clicking <strong>Join Live Chat</strong> you agree to the<br/> 
                    <a class="clean" href="https://www.hipchat.com/terms" target="_blank">Terms of service</a> and 
                    <a class="clean" href="https://www.hipchat.com/privacy" target="_blank">Privacy policy</a>.
                </p>
            </td>
        </tr>
    </table>
</form>