<div ng-show="isLoading">Loading card...</div>
<div ng-hide="isLoading">
    <h1>{{card.name}}</h1>

    <p>{{card.description}}</p>
    <p><a href="{{card.url}}" target="_blank">View Card</a></p>

    <div class="sizes" ng-show="user">
        <div class="size" ng-repeat="size in sizes">
            <button ng-click="setSize(size)" class="btn btn-lg">{{size}}</button>
        </div>
    </div>

    <div class="allSizes" ng-show="allSizes">
        <h3>All Sizes</h3>
        <table>
            <thead>
                <th>User</th>
                <th>Points</th>
                <th>Date/Time</th>
            </thead>
            <tbody>
                <tr ng-repeat="s in allSizes">
                    <td>{{s.username}}</td>
                    <td>{{s.points}}</td>
                    <td>{{s.created}}</td>
                </tr>
            </tbody>
        </table>        
    </div>
    <br/>
    <p>
        <button class="btn btn-primary" ng-click="goBackToGame()">Back to Game</button>
    </p>
</div>